.table1{
    height: 50vh;
    z-index: 2;
    width: 12%;
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ddd;
    border-radius: 4px;
}
.table1 .button2 {
    height: 5vh;
    width: 70%;
    background-color: rgba(17, 17, 239, 0.973);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ddd;
    border-radius: 4px;
}
.table1 .button2 a{
    font-family: 'Baskerville Neo Text';
    color: #ddd;
}
.table1 .search-bar{
    height: 2vh;
    width: 35%;
}